.aboutUsPage {
	position: relative;
	
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	justify-content: flex-start;
	align-items: center;
	align-content: center;

	padding-top: 60px;

	background: var(--gy-bg-gradient-reverse);

	view-timeline-name: --card;
	view-timeline-axis: block;

	animation-timeline: --card;
	animation-name: show;

	animation-range: entry 0% cover 50% ;
}


.aboutUsTitle {
	width: 100%;
	height: 10%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: center;
	align-content: center;

	margin-bottom: 0px;

	font-size: 25px;
}

.gyMembers {
	width: 100%;
	height: 85%;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: center;
	align-content: center;

	gap: 5rem;
}

.ball {
	border-radius: 50%;
	animation: rotate 3s infinite linear;
	z-index: 0;
	position: absolute;
}

.ball1 {
	width: 350px;
	height: 350px;

	top: 10%;
	left: 10%;

	background: var(--card-gfigueras-ball);
  box-shadow: inset 30px 20px 100px 50px rgba(0, 0, 0, 0.228);
}

.ball2 {
	width: 300px;
	height: 300px;

	top: 55%;
	left: 28%;

	background: var(--card-gfigueras-ball);
}

.ball3 {
	width: 300px;
	height: 300px;

	top: 15%;
	left: 70%;

	background: var(--card-toxyc-ball);
}

.ball4 {
	width: 200px;
	height: 200px;

	top: 75%;
	left: 50%;

	background: var(--card-toxyc-ball);
}

@keyframes show{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

@media screen and (max-width: 1300px) {
  .gyMembers {
    flex-direction: column;
    gap: 2rem; /* Ajusta según sea necesario */
  }

  .ball {
    width: 15vw; /* Ajusta según sea necesario */
    height: 15vw; /* Ajusta según sea necesario */
  }
  .ball1 {
	top: 20%;
	left: 15%;
}

.ball2 {
	top: 60%;
	left: 28%;
}

.ball3 {
	top: 80%;
	left: 50%;
}

.ball4 {


	top: 20%;
	left: 70%;
}
.aboutUsPage{
	margin-top: 5rem;
}
}