.tiltCard {
	width: 30%;
	height: 90%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: center;
	align-content: center;

	box-shadow: 0 8px 32px 0 var(--card-shadow);
	backdrop-filter: blur(100px);

	border: 1px solid var(--card-border);
	border-radius: 10px;
	
	overflow: hidden;
	z-index: 2;

}

.cardContent {
	height: 100%;
	width: 80%;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	justify-content: flex-start;
	align-items: center;
	align-content: center;

	padding-top: 40px;
	padding-bottom: 40px;
	gap: 30px;

	text-align: center;
}

.cardPhoto {
	height: 150px;
	border-radius: 50%;
	background-color: white;
}

.cardTitle {
	font-size: 30px;
}

.cardDesc {
	height: 40%;
	width: 100%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	
	margin-top: 4%;

	font-size: 13px;
	text-overflow: ellipsis;
	letter-spacing: 1.5px;
	line-height: 15px;
	
}

.cardMedia {
	width: 100%;
	height: 10%;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	justify-content: center;
	align-items: center;
	align-content: center;

	gap: 15px;

	align-self: end;
	justify-self: end;
}

.mediaLogo {
	font-size: 40px;
	
	opacity: 50%;
	transition: .5s;
}

.mediaLogo:hover {
	cursor: pointer;
	transition: .5s;

	filter: drop-shadow(0px 0px 10px var(--card-media-brightness));
	opacity: 80%;
}

@media screen and (max-width: 1366px) {
	.tiltCard {
		width: 70%;
		height: 110%;
	}

	.cardContent {
		gap: 20px;
	}

	.cardPhoto {
		height: 90px;
	}

	.cardTitle {
		font-size: 20px;
	}

	.cardDesc {
		font-size: 8px;
		margin-top: 5px;
	}

	.mediaLogo {
		height: 20px;
	}
}

@media screen and (max-width: 700px) {
	.tiltCard {
		height: 250px;
		padding-top: 30px;
	}

	.cardDesc {
		display: none;
	}

	.mediaLogo {
		height: 40px;
		margin-top: 100%;
	}
}

.isaacBG{
	background-position-x: 100px;
}