.tiltCard {
  width: 30%;
  height: 80%;
  box-shadow: 0 8px 32px 0 var(--card-shadow);
  backdrop-filter: blur(100px);
  border-radius: 10px;
  border: 1px solid var(--card-border);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
  align-content: center;

  padding: 50px;
  gap: 30px;
}

.cardTitle {
	font-size: 30px;
}

.cardDesc {
	font-size: 13px;
}