.mainPage {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 100%;
    height: 110vh;

    gap: 4rem;
}

.form-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: center;
    align-items: center;
    align-content: center;

    width: 50%;
    height: 100%;

    position: relative;
}

.form {
    position: relative;

    width: 100%;
    height: 100%;

    background-size: 75%;
    background-image: url("../assets/img/form.webp");
    background-repeat: no-repeat;
    background-position: center center;

    margin-bottom: 4%;

    z-index: -1;
}

.introduction {
    font-family: 'Lexend-Bold';
    font-size: 75px;
    letter-spacing: 3px;
    text-align: center;

    margin-bottom: 4%;

    filter: drop-shadow(0px 0px 10px #000000) drop-shadow(0px 0px 10px var(--introduction-shadow));
}

.introduction span {
    background: var(--gy-gradient);
    -webkit-background-clip: text;
    color: transparent;
}

.glassSquare1 {
    position: absolute;

    width: 130px;
    height: 130px;

    left: 55%;
    top: 14%;

    background-color: var(--glass-brightness);
    box-shadow: 0 8px 32px 0 var(--glass-shadow);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);

    border: 1px solid var(--glass-border);
    border-radius: 10px;
}

.glassSquare2 {
    position: absolute;

    width: 90px;
    height: 90px;

    left: 74%;
    top: 31%;

    background-color: var(--glass-brightness);
    box-shadow: 0 8px 32px 0 var(--glass-shadow);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);

    border: 1px solid var(--glass-border);
    border-radius: 10px;
}

.glassSquare3 {
    position: absolute;

    width: 110px;
    height: 110px;

    left: 25%;
    top:65%;

    background-color: var(--glass-brightness);
    box-shadow: 0 8px 32px 0 var(--glass-shadow);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(4px);

    border: 1px solid var(--glass-border);
    border-radius: 10px;
}

[glow] .glassGlow {
    border: 2px solid var(--g);
}

@media screen and (max-width: 890px) {
    .mainPage {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 75vh;
    }

    .mainPage img {
        position: absolute;
        z-index: -1;
    }

    .form-image {
        position: absolute;
        z-index: -1;
    }
    
    .introduction {
        font-size: 50px;
    }
}

@media screen and (max-width: 1241px) {
    .introduction{
        font-size: 60px;
    }
}

@media screen and (max-width: 1030px) {
    .introduction{
        font-size: 50px;
    }
}

@media screen and (orientation: portrait){
    .glassSquare1, .glassSquare2, .glassSquare3{
        display: none;
    }
    .mainPage{
        gap: 1rem;
    }
}

@media screen and (max-height: 408px) and (orientation: landscape) {
    .glassSquare1, .glassSquare2, .glassSquare3 {
        display: none;
    }
    .mainPage {
        gap: 1rem;
    }
}