.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 5%;
    
    padding-top: 2%;

    user-select: none;
    /* backdrop-filter: blur(5px); */
    z-index: 2;
    position: fixed;
    top: 0;
}

.leftSide {
    display: flex;
    align-items: center;
    gap: 1.3rem;
    height: 100%;
    margin-left: 3%;
}

.navbarTitle {
    font-size: 26px;
    font-family: 'Valorant';
}

.navbarLogo {
    width: 55px;
}

.rightSide {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-right:3%;

}

.element {
    transition: .5s;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.element:hover {
    cursor: pointer;
    
    filter: drop-shadow(0px 0px 10px var(--main-text-brightness));
    transition: .5s;
    border-bottom: 2px solid #ffffff8e;

}

@media screen and (max-width: 650px) {
    .rightSide {
        display: none;
    }

    .navbarTitle {
        display: none;
    }

    .leftSide {
        width: 100%;
        justify-content: center;
    }
  }
  