.projects {
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	justify-content: flex-start;
	align-items: center; 
	align-content: center;

	padding-top: 80px;
	gap: 40px;

	background-color: transparent;
	
	view-timeline-name: --card;
	view-timeline-axis: block;

	animation-timeline: --card;
	animation-name: show;

	animation-range: entry 0% cover 50%;
	animation-fill-mode: both;

	transform-origin: top center;

}

.projectsTitle {
	width: 100%;
	height: 10%;
	
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: center;
	align-content: center;

	font-size: 25px;
}

.projectsList {
	display: grid;
	grid-template-columns: repeat(4, minmax(250px, 1fr));
	grid-gap: 1.8rem;
	
}

.projectCard {
	height: 430px;
	width: 260px;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	justify-content: center;
	align-items: center;
	align-content: center;

	text-align: center;

	background-color: var(--projects-card-bg);

	border: 2px solid var(--projects-card-border);
	border-radius: 10px;

	user-select: none;
}

[glow] .fotgCard {
	border: 2px solid var(--glow-fotg-border);
}

[glow] .mapsCard {
	border: 2px solid var(--glow-maps-border);
}

[glow] .charactersCard {
	border: 2px solid var(--glow-characters-border);
}

[glow] .isaacCard {
	border: 2px solid var(--glow-isaac-border);
}

.projectCard {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	
	justify-content: center;
	align-items: center;
	align-content: center;

	overflow: hidden;
}

.projectLogo {
	position: absolute;
	
	width: 100px;
	height: 100px;
	
	opacity: 0%;
	filter: drop-shadow(0px 0px 10px #000000) drop-shadow(0px 0px 10px var(--projects-logo-shadow));
	
	z-index: 2;
	pointer-events: none;

	transition: 0.5s;
}

.projectBG {
	height: 100%;
	filter: brightness(100%);
	pointer-events: none;
	transition: .5s;
}

.projectCard:hover .projectLogo {
	opacity: 1;
	transition: 0.5;
}

.projectCard:hover .projectBG {
	filter: brightness(40%);
	transition: .5s;
}

.projectCard:hover {
	cursor: pointer;
}

.glow{
	margin: auto;
	width: 100%;
}

@keyframes show{
	from{
		opacity: 0;
		transform: scale(0.8);
	}
	to{
		opacity: 1;
		transform: scale(1);

	}
}



@media screen and (max-width: 1241px) {
	.projectsList {
		display: grid;
		grid-template-columns: repeat(1, minmax(0px, 1fr));
	}
	.projects{
		height:100vh ;
	}

	.projectsList {
		width: 55%;
	}

	.projectBG {
		width: 100%;
		object-fit: cover;
	}

	.projectCard {
		width: 100%;
		height: 130px;
	}
}

@media screen and (max-width: 1360px) and (max-height: 760px)  {
	.projectCard {
		width: 100%;
		height: 130px;
	}

	.projectsList {
		display: grid;
		grid-template-columns: repeat(1, minmax(0px, 1fr));
	}
	.projects{
		height:100vh ;
	}

	.projectsList {
		width: 55%;
	}

	.projectBG{
		width: 100%;
		object-fit: cover;


	}
	}
