@font-face {
	font-family: 'Lexend-Black';
	src: url(./assets/fonts/Lexend-Black.ttf);
}

@font-face {
	font-family: 'Lexend-Bold';
	src: url(./assets/fonts/Lexend-Bold.ttf);
}

@font-face {
	font-family: 'Lexend-ExtraBold';
	src: url(./assets/fonts/Lexend-ExtraBold.ttf);
}

@font-face {
	font-family: 'Lexend-ExtraLight';
	src: url(./assets/fonts/Lexend-ExtraLight.ttf);
}

@font-face {
	font-family: 'Lexend-Light';
	src: url(./assets/fonts/Lexend-Light.ttf);
}

@font-face {
	font-family: 'Lexend-Medium';
	src: url(./assets/fonts/Lexend-Medium.ttf);
}

@font-face {
	font-family: 'Lexend-Regular';
	src: url(./assets/fonts/Lexend-SemiBold.ttf);
}

@font-face {
	font-family: 'Lexend-Thin';
	src: url(./assets/fonts/Lexend-Thin.ttf);
}

@font-face {
	font-family: 'Valorant';
	src: url(./assets/fonts/Valorant.ttf);
}

@font-face {
	font-family: 'ArcaMajora3-Bold';
	src: url(./assets/fonts/ArcaMajora3-Bold.otf);
}

@font-face {
	font-family: 'ArcaMajora3-Heavy';
	src: url(./assets/fonts/ArcaMajora3-Heavy.otf);
}

:root {
	--gy-purple: #5808fb;
	--gy-magenta: #9929ea;
	--gy-purple-dark: #0c000e;
	--gy-magenta-dark: #0d011b;
	--gy-gradient: linear-gradient(45deg, var(--gy-purple), var(--gy-magenta));
	--gy-bg-gradient: linear-gradient(0deg, var(--gy-purple-dark), var(--gy-magenta-dark));

	--introduction-shadow: #0000008e;

	--projects-card-bg: #121212;
	--projects-card-border: transparent;
	--projects-logo-shadow: #00000081;

	--glow-gfigueras-border: #a609e4;
	--glow-toxyc-border: #e49709;

	--glow-fotg-border: #e49709;
	--glow-maps-border: #ea00e2;
	--glow-characters-border: #00e6e2;
	--glow-isaac-border: #cdcdcd;
	--glow-glass-border: #d1d1d15e;

	--glass-brightness: #ffffff0d;
	--glass-border: #ffffff18;
	--glass-shadow: #0000025e;

	--card-bg: #ffffff0d;
	--card-border: #ffffff42;
	--card-shadow: #0000025e;
	--card-media-brightness: #ffffff42;

	--main-text: #ffffffde;
	--main-text-brightness: #ffffff6c;
	
	--selection-bg: #5908fb2f;

	/* ========================= */

	font-family: 'Lexend-Medium', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1;
	font-weight: 400;

	color-scheme: light dark;
	color: var(--main-text);

	background: var(--gy-bg-gradient);
	background-size: contain;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;

}

*::selection {
	background-color: var(--selection-bg);
	border-radius: 6px;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100vw;
	height: 200vh;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	font-weight: inherit;
}